*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather',serif;
}
.all-content{
    background: #f7f5f2;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background:#b2744c;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 100%;
    
}

/* navbar start */
#navbar{
    background-color:#b2744c;
}
#logo img{
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color:black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background:bisque;
    border-radius: 5px;
    /* color: black; */
}

.navbar form button{
   background: black;
   color: white;
   border: 1px solid white;
}


/* home section css */
#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/bc3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;

}
#home .content{
    padding-top: 200px;
    margin-left: 55px;
}
#home .content h3{
    font-size: 50px;
    color: white;
}
#home .content p{
    margin-top: 10px;
    color: white;
    font-size: 18px;
}
#btn{
    width: 150px;
    height: 35px;
    margin-top:20px;    
    background-color: white;
    border-radius: 5px;
    
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background: #b2744c;
    color: white;
}

/* about css */

#about{
    width: 100%;
    height: 100vh;
}
#about .container{
    padding-top: 20px;
    padding-bottom: 0px;
    

}
.heading{
    text-align: center;
    margin-top:5px;
    margin-bottom: 30px;
    color: black;
    font-size: 50px;
    font-weight: bold;

}
#about .container p{
   font-size: 18px;
   /* line-height: 5px; */
}
.heading span{
    color: #b2744c;
}
#about .card img{
    border-radius: 10px;
}
#about-btn{
    width: 150px;
    height: 36px;
    background: transparent;
    border: 2px solid #b2744c;
    color: #b2744c;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
#about-btn:hover{
    background: #b2744c;
    color: white;

}

/*----- about section end ----*/




/* --top section start--- */

#top-cards{
    width: 100%;
    /* height: 60vh; */
    background: #f7f5f2;
    
   
}
#top-card .container{
    margin-top: 0px;

}
.heading2{
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #b2744c;

}



#top-cards .card {
     border-radius: 10px;
     transition: 0.5s;
     cursor: pointer;
}

#top-cards .card img{
    border-radius: 10px;
}
#top-cards .card:hover{
    transform: translateY(-10px);
}


/* --top section end--- */




/* menu strt */

#menu{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
#container2{
    margin-top: 20px;
}
#menu .card{
    box-shadow: rgba(149,157, 165, 0.2) 0px 8px 24px;
}
#menu .card{
    border:#b2744c solid 0.5px;
}
.card-body h3{
    text-align: center;
    color: #b2744c;
    margin-top: 10px;
    font-size: 25px;
}
.card-body p{
    text-align: center; 
    font-size: 16px;
    color:black;
    padding-top: 10px;
    
}
.card-body p span{
    float: right;
    cursor: pointer;
    align-items: center;
    
}

/* product css start */

#product{
    width: 100%;
    
}
.heading4{
    text-align: center;
    font-size: 30px;
    color: #b2744c;
    padding-top: 100px;
    font-weight: bold; 
    border-bottom: 2px solid #b2744c;
}
#container3{
    margin-top: 30px;
}

#product .card{
    border:#b2744c solid 1px;
}
#product .card img{
    border-radius: 10px;
    margin-top: 20px;
}
#product h3{
    text-align: center;
    color: #b2744c;
    /* margin-top: 10px; */
    font-size: 23px;
}
#product p{
    
    color:black;
    padding-top: 10px;
}
#product p span{
    float: right;
    cursor: pointer;
}
/* product css end */




/* ---galary start */


#gallary{
    width: 100%;
}
.heading5{
    text-align: center;
    color:black;
    margin-top: 60px;
    font-weight: bold;
    font-size: 30px; 
    /* border-bottom: 2px solid #b2744c; */
}
#gallary .heading5 span{
    color:#b2744c;
}
#gallary .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;

}
#gallary .card img{
border-radius: 10px;
}
#gallary .card:hover{
    transform: translateY(-10px);
}
/* gallary end */



/* ---contact us start */

#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}
#contact .container{
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}

.heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 30px; 
    margin-bottom: 20px
    
}
.heading6 span{
     color: #b2744c;
     
     
}
#contact p{
    font-weight: bold;
    font-size: 15px;
    color: black;
     

}
#contact input{
    width: 360px;
    
    border: none;
    border-bottom: 1px solid #b2744c;
}
#contact-btn{
    width: 130px;
    height: 35px;
    border: 2px solid #b2744c;
    color: #b2744c;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    margin-top: 30px;

    transition: 0.5s;
    cursor: pointer;
}
#contact-btn:hover{
    background: #b2744c;
    color: white;
}
#col .conect{
    width: 40px;
    height: 56vh;
    /* background : black; */
    /* margin-top: 78px; */
}
#contact h1{
    padding-top: 30px;
    color:black;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p{
    font-size: 15px;
    font-weight: bold;
    color:black;
    margin-left: 13px;
    margin-top: 30px;
}


/* contact us end */



/* --blogs start */

#blogs{
    width: 100%;
}
#blogs .container{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    
}
.heading7{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 30px; 
    margin-bottom: 20px
    
}

.heading7 span{
     color: #b2744c;
} 
.card-body h5{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.card-body p{
    text-align: center;
    font-size: 15px;
    
}
#blog-btn{
    width: 120px;
    height: 35px;
    
    border: 2px solid #b2744c;
    color: #b2744c;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 100px;

    transition: 0.5s;
    cursor: pointer;
}
#blog-btn:hover{
    background: #b2744c;
    color: white;  
} 



/* footer start */

#footer{
    width: 100%;
    background: #b2744c;
    margin-top: 50px;
}
.footer-logo img{
    width: 180px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.social-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}
.credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#credits a span{
    color: black;
}
.copyright span{
    color: black;
}

/* footer end */


html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    height: 40px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;

}